/* icon 設定 */

.mapboxgl-marker {
  @apply w-11 h-11 bg-no-repeat bg-center cursor-pointer rounded-full;

  background-color: #f5f5f5f1;
  box-shadow: 0 0 5px 5px #11171954;
  background-size: 60%;
  pointer-events: auto;
}

.weather-icon {
  @apply w-16 h-16 bg-no-repeat bg-center cursor-pointer rounded-full z-10;

  background-color: #f5f5f5f1;
  box-shadow: 0 0 5px 5px #90e5ff54;
  background-size: 70%;
  pointer-events: auto;
  margin: 10px auto;
}

.clouds-icon {
  background-image: url('/weather_icon/clouds.png');
}

.cloudy-icon {
  background-image: url('/weather_icon/cloudy.png');
}

.fog-icon {
  background-image: url('/weather_icon/fog.png');
}

.hail-icon {
  background-image: url('/weather_icon/hail.png');
}

.rain-icon {
  background-image: url('/weather_icon/rain.png');
}

.snow-icon {
  background-image: url('/weather_icon/snow.png');
}

.sun-icon {
  background-image: url('/weather_icon/sun.png');
}

.storm-icon {
  background-image: url('/weather_icon/storm.png');
}

/* 空氣品質設定 */
.good {
  color: #00774f;
}

.moderate {
  color: #ffc400;
}

.sensitive {
  color: #e07007;
}

.unhealthy {
  color: #d80d0d;
}

.very-unhealthy {
  color: #5500c4;
}

.hazardous {
  color: #3b0b0b;
}
