@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

body {
  @apply w-screen h-screen overflow-hidden;

  font-family: 'Noto Sans TC', sans-serif;
  background: #111719;

  #root {
    @apply w-full h-full;

    .layout {
      @apply w-full h-full flex items-center flex-col;

      header {
        @apply w-full z-10 flex justify-center items-center absolute;

        height: 8%;
        background: linear-gradient(to bottom, #1117198c 0%, #11171936 100%);

        .container {
          @apply w-3/4 flex justify-between;

          .warn {
            button {
              @apply font-black;

              color: #a10c0c;
            }
          }

          .opitions {
            button,
            select,
            option,
            select:focus-visible {
              @apply text-sm font-semibold px-2 py-1 mx-2 rounded-md cursor-pointer w-max;

              outline: none;
              color: #111719;
              background: #e8edee;
            }
          }
        }
      }

      main {
        @apply w-full h-full relative flex items-center;

        .map-container {
          @apply w-full h-full absolute;
        }

        .city-container {
          @apply absolute w-2/4 p-5 right-0 overflow-y-auto;

          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          background: linear-gradient(to bottom, #effbfde6 0%, white 100%);
          max-height: 70%;

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            border-radius: 8px;
            background-color: #070b0c;
            border: 1px solid #070b0c;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #525151;
          }

          h1 {
            @apply text-2xl font-extrabold;

            color: #0089a7;
          }

          /* 36 小時預報 */
          .hours36 {
            padding: 10px;
          }
        }
      }
    }
  }
}

/* icon 設定 */

.marker-city-popup {
  @apply w-28 text-center;

  h3 {
    @apply text-lg font-bold;

    color: #0089a7;
  }
}

.mapboxgl-marker {
  @apply w-11 h-11 bg-no-repeat bg-center cursor-pointer rounded-full;

  background-color: #f5f5f5f1;
  box-shadow: 0 0 5px 5px #11171954;
  background-size: 60%;
}

.clouds-icon {
  background-image: url('/weather_icon/clouds.png');
}

.cloudy-icon {
  background-image: url('/weather_icon/cloudy.png');
}

.fog-icon {
  background-image: url('/weather_icon/fog.png');
}

.hail-icon {
  background-image: url('/weather_icon/hail.png');
}

.rain-icon {
  background-image: url('/weather_icon/rain.png');
}

.snow-icon {
  background-image: url('/weather_icon/snow.png');
}

.sun-icon {
  background-image: url('/weather_icon/sun.png');
}

.storm-icon {
  background-image: url('/weather_icon/storm.png');
}
