@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

.marker-city-popup {
  @apply w-36 text-center;

  z-index: 2;

  h3 {
    @apply text-lg font-bold;

    color: #0089a7;
  }
}

body {
  @apply w-screen h-screen overflow-hidden;

  font-family: 'Noto Sans TC', sans-serif;
  background: #111719;

  #root {
    @apply w-full h-full;

    .layout {
      @apply w-full h-full flex items-center flex-col;

      header {
        @apply w-full flex justify-center items-center absolute z-20;

        height: 8%;
        background: linear-gradient(to bottom, #1117198c 0%, #11171936 100%);

        .opition-warp {
          @apply w-3/4 flex justify-end;

          .opitions {
            @apply flex justify-center items-center;

            p {
              @apply text-sm text-white mr-2;
            }

            button,
            select,
            option,
            select:focus-visible {
              @apply text-sm font-semibold px-2 py-1 rounded-md cursor-pointer w-max;

              outline: none;
              color: #111719;
              background: #e8edee;
            }
          }
        }
      }

      main {
        @apply w-full h-full relative flex items-center;

        .map-container {
          @apply w-full h-full absolute;
        }

        /* 黑色遮罩 */
        .dark {
          @apply fixed  w-full h-full z-10;

          background: #0b1a3252;
        }

        .city-container {
          @apply absolute w-2/3 px-5 py-8 right-0 overflow-y-auto overflow-hidden z-10 top-1/2;

          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          background: linear-gradient(to bottom, #effbfde6 0%, white 100%);
          max-height: 70%;
          transform: translateY(-50%);

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            border-radius: 8px;
            background-color: #070b0c;
            border: 1px solid #070b0c;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #525151;
          }

          h1 {
            @apply text-2xl font-extrabold;

            color: #0089a7;
          }

          button.default {
            @apply font-bold text-sm px-6 py-1 rounded-2xl mx-2;

            background: #0089a7;
            color: #fff;
          }

          button.default.close {
            background: #054d5e;
          }

          /* 36 小時預報 */
          .hours36 {
            @apply text-center;

            .weather-hours {
              @apply flex font-bold;

              .first,
              .sec,
              .third {
                @apply text-sm flex-1 p-5 text-center flex justify-center items-center flex-col;

                color: #111719;

                .weather-icon {
                  @apply w-20 h-20 bg-no-repeat bg-cover bg-center my-5;
                }

                .rain {
                  color: #0089a7;
                }

                .feel {
                  @apply text-xs;

                  color: #525151;
                }

                p {
                  @apply whitespace-nowrap;
                }
              }

              .third {
                @apply border-b-0;
              }
            }
          }

          /* 縣市一週預報 */
          .city-week {
            @apply text-center;

            /* 切換按鈕 */
            .tab-warp {
              @apply my-3 flex justify-between;

              button {
                @apply bg-slate-400 w-full h-14 font-bold;

                color: #0089a7;
                background: #a5d8e3;
                border: 1px solid #caf5fe;
              }

              button:hover,
              button.active {
                color: #fff;
                background: #0089a7;
              }
            }

            /* 表格 */
            table {
              @apply w-full text-sm whitespace-nowrap;

              th,
              td {
                @apply px-3 py-1;
              }

              td {
                @apply py-4 relative;

                p.hover {
                  @apply text-white absolute top-2 left-1/2 text-xs p-1 rounded hidden;

                  transform: translateX(-50%);
                  background: #1f7994ae;
                }
              }

              thead {
                background: #97c0c9;
                color: #25606d;
              }

              tbody {
                @apply text-center;

                tr {
                  border-bottom: 1px dashed #617b81;
                }

                tr:last-child {
                  border-bottom: none;
                }
              }
            }

            /* 圖表 */
            .chart {
              @apply my-5 w-full;
            }

            /* 按鈕們 */

            .button-warp {
              @apply mt-5;
            }
          }
        }
      }
    }
  }
}
