@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

body {
  @apply w-screen h-screen overflow-hidden;

  font-family: 'Noto Sans TC', sans-serif;
  background: #111719;

  #root {
    @apply w-full h-full;

    .layout {
      @apply w-full h-full flex items-center flex-col;

      header {
        @apply w-full z-10 flex justify-center items-center absolute;

        height: 8%;
        background: linear-gradient(to bottom, #1117198c 0%, #11171936 100%);

        .container {
          @apply w-3/4 flex justify-between;

          .warn {
            button {
              @apply font-black;

              color: #a10c0c;
            }
          }

          .opitions {
            button,
            select,
            option,
            select:focus-visible {
              @apply text-sm font-semibold px-2 py-1 mx-2 rounded-md cursor-pointer w-max;

              outline: none;
              color: #111719;
              background: #e8edee;
            }
          }
        }
      }

      main {
        @apply w-full h-full;

        .map-container {
          @apply w-full h-full;
        }
      }
    }
  }
}

/* icon 設定 */

.mapboxgl-marker {
  background-color: #f5f5f5e3;
  box-shadow: 0 0 5px 5px #11171954;
  border-radius: 100%;
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.clouds-icon {
  background-image: url('/weather_icon/clouds.png');
}

.cloudy-icon {
  background-image: url('/weather_icon/cloudy.png');
}

.fog-icon {
  background-image: url('/weather_icon/fog.png');
}

.hail-icon {
  background-image: url('/weather_icon/hail.png');
}

.rain-icon {
  background-image: url('/weather_icon/rain.png');
}

.snow-icon {
  background-image: url('/weather_icon/snow.png');
}

.sun-icon {
  background-image: url('/weather_icon/sun.png');
}

.storm-icon {
  background-image: url('/weather_icon/storm.png');
}
